extends layout

block header
  script(src="javascripts/jquery-1.12.1.js")
  script(src="javascripts/Chart.js")
  script(src="javascripts/interact.js")

block content
  //p= data
  button#scan Refresh
  div
    canvas(id="myChart", width="400", height="400")
